/* GLOBAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 87%;
  margin: auto;
}
/* TYPOGRAPHY */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");
/* HEADER STYLING */
/* header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  } */
header {
  border: 1px solid #000;
}
.top {
  background: black;
  color: white;
  text-align: center;
  padding: 0.5em 0;
}
.top-content {
  position: relative;
}

.top-content p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}
.top-content a {
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  border-bottom: 1px solid white;
}
.close {
  position: absolute;
  top: -2px;
  right: 0;
}
.bottom {
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
nav .logo a,
footer .logo a {
  font-family: "Ubuntu Mono", monospace;
  font-size: 32px;
  font-weight: 700;
}
nav ul li a {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 400;
}

nav ul li:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
nav ul li:hover {
  cursor: pointer;
}
.submit {
  width: 37%;
  background-color: #f0f0f0;
  border-radius: 62px;
  padding: 0;
}
.submit input:focus {
  border: 0;
  outline: none;
}
header input {
  border: none;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

nav .login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

/* CART */

/*/////////////
UTILITIES
//////////// */
.price {
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 2em;
  background-color: rgba(128, 128, 128, 0.395);
}
/* ///////////////
  CART ITEMS
   ////////////*/
.cart-cont {
  margin-top: 2em;
}

.cart-cont > p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-down p {
  flex: 1;
  text-align: center;
  padding: 1em 0;
}
.cart-down p:nth-child(2) {
  color: #000;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  border-bottom: 1px solid #000;
}
.cart-down p:first-child,
.cart-down p:last-child {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.comp {
  display: flex;
  margin-top: 1em;
  gap: 1em;
}

.left-comp {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex: 1;
}
.outer-left-compbox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.right-comp {
  flex: 1;
}
.comp-box p {
  color: #000;
  font-family: "Ubuntu Mono", monospace;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.comp-box .stars .fa-star,
.fa-star-half {
  color: #ffc633;
  margin: 0.5em 0;
}
.comp-box .price {
  display: flex;
  align-items: center;
  gap: 0.7em;
  margin: 0.6em 0;
}

.comp-box .price p:first-child {
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comp-box .price p:nth-child(2) {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: line-through;
}
.comp-box .price p:nth-child(3) {
  color: #f33;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 6px 14px;
  border-radius: 62px;
  background: rgba(255, 51, 51, 0.1);
}
.comp-box .body p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em 0;
}
.select {
  margin-top: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
}
.select p,
.size p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1em;
}
.elipse {
  display: flex;
  gap: 1em;
}
.eli {
  width: 37px;
  height: 37px;
}
.elipse div:first-child {
  background: #4f4631;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elipse div:nth-child(2) {
  background: #314f4a;
  border-radius: 100%;
}
.elipse div:last-child {
  background: #31344f;
  border-radius: 100%;
}
.size-btn {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: right;
  padding-bottom: 1em;
}
.size-btn button {
  padding: 12px 24px;
  background: #fff;
  border-radius: 62px;
  border: none;
}
.size-btn button:first-child,
.size-btn button:last-child,
.size-btn button:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f0f0f0;
}
.size-btn button:nth-child(3) {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  background: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.final-cart {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.final-cart button:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 16px 20px;
  border-radius: 62px;
  width: 38%;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f0f0f0;
}
.final-cart button:last-child {
  padding: 16px 54px;
  border-radius: 62px;
  width: 58%;
  font-family: "Roboto Mono", monospace;
  color: #fff;
  background: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* HAPPY CUSTOMERS */
.happy-customers {
  margin-top: 3em;
  margin-bottom: 3em;
}
.happy-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.happy-box p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.happy-box p span {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.happy-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}
.happy-nav img {
  max-width: 100%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.happy-nav div:first-child {
  border-radius: 62px;
  background: #f0f0f0;
  height: 48px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
}
.happy-nav div:nth-child(2) {
  border-radius: 62px;
  background: #f0f0f0;
  height: 48px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #000;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.happy-nav div:last-child {
  border-radius: 62px;
  background: #000;
  height: 48px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.happy-reviews {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.review {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  flex: 1 1 calc(50% - 20px);
}
.review .stars .fa-star,
.fa-star-half {
  color: #ffc633;
}
.rev-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.review .name {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  font-family: "Roboto Mono", monospace;
}
.review .name img {
  max-width: 100%;
  width: 24px;
  height: 24px;
}

.review .body {
  font-family: "Roboto Mono", monospace;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.review .date {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  margin-top: 0.5em;
}

/* ARRIVALS SECTION */
.inner-arrivals > p {
  color: #000;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1em;
  text-transform: uppercase;
}
.arrivals {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 2em;
}

.arrival-image img {
  max-width: 100%;
  border-radius: 20px;
}
.arrival-box p {
  color: #000;
  font-family: "Roboto Mono", monospace;
  margin-top: 0.3em;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ratings .stars .fa-star,
.fa-star-half {
  color: #ffc633;
}
.ratings {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  gap: 0.6em;
}
.rate {
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.price p:first-child {
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.price p:nth-child(2) {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: line-through;
}
.price p:nth-child(3) {
  color: #f33;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 6px 14px;
  border-radius: 62px;
  background: rgba(255, 51, 51, 0.1);
}
.inner-arrivals button {
  padding: 16px 54px;
  border-radius: 62px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

.inner-arrivals {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-dress {
  border-radius: 40px;
  background: #f0f0f0;
  text-align: center;
  padding: 3em;
}
.dress-box {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.set img {
  max-width: 100%;
}
.inner-dress > p {
  font-family: "Ubuntu Mono", monospace;
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 1em;
}

/* FOOTER STYLING */
footer {
  background: #f0f0f0;
  position: relative;
  margin-top: 10em;
  padding-top: 2em;
}
.top-footer {
  border: 1px solid rebeccapurple;
  display: flex;
  align-items: center;
  background: #000;
  justify-content: space-between;
  padding: 1.5em 3em;
  border-radius: 20px;
  position: absolute;
  top: -25%;
  max-width: 87%;
}
.sub-box input:focus {
  border: 0;
  outline: none;
}
.sub-box input {
  border: none;
  width: 100%;
  border-radius: 62px;
  padding: 12px 4px 12px 40px;
  background: #fff url("../images/message.svg") no-repeat 13px center;
}
.sub-box button {
  padding: 12px 16px;
  border-radius: 62px;
  background: #fff;
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  margin-top: 0.5em;
}
.top-footer p {
  color: #fff;
  font-family: "Ubuntu Mono", monospace;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  width: 45%;
}
.sub-box {
  width: 40%;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2em 0;
  margin-top: 1em;
}
.payment-type {
  display: flex;
}
.copyright p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Roboto Mono", monospace;
}

footer .foot-nav {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  margin: 40px auto 0 auto;
}
.foot-info h6 {
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.foot-info,
.foot-info1 {
  flex: 1;
}
.temp {
  display: flex;
  width: 70%;
  gap: 3%;
}
.foot-info1 p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  margin-top: 0.5em;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
footer ul {
  margin-top: 0.5em;
}

footer ul li {
  list-style: none;
  padding: 0.5em 0;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.social-media-icons {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
  margin-top: 2em;
}
.social-media-icons li {
  height: 38px;
  width: 38px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid gray;
}

.social-media-icons a {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-decoration: none;
  /* color: #000; */
  font-size: 28px;
  transform: translate(5px, -5px);
}
